html {
    scroll-behavior: smooth;
}

ul{
    display: flex;
    color: aliceblue;
    margin: 8px 0px 0;
    list-style: none;
}

a{
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

li {
    padding: 15px 18px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    align-items: center;
}

a:hover {
    color: rgb(166, 166, 166);
}

header{
    padding: 2px;
    background-color: var(--corheader);
    width: 100%;
    position: fixed;
    z-index: 100;
}

.menu-geral {
    width: 100%;
    display: flex;
    max-width: 1150px;
    justify-content: space-between;
    display: flex;
    margin: auto;
}

.btn-menu {
    display: none;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    margin: 8px;
}

.menu-responsivo {
    display: none;
}

#logo-m {
    padding: 9px;
    margin-left: 20px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

/* -------- inicio ------------*/

.ini {
    background: linear-gradient(146deg, rgb(204, 98, 208) 50%, rgb(107, 24, 107) 50%);
}

.inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1150px;
    height: 100vh;
    padding: 77px 50px 0 50px;
}

.inicio h1 {
    font-size:40px;
}

.txt h1, p{
    animation-name: slideInRight;
    animation-duration: 1.5s;
}

#apresenta::after {
    content: '|';
    opacity: 1;
    animation: pisca .7s infinite;
}

.txt p {
    font-size: 1.2rem;
}

#apresentacao{
    margin-top: 15px;
}

#botao-inicio {
    background-color: var(--corfundo2);
    padding: 14px;
    margin-top: 25px;
    border: 1px solid #fff;
    border-radius: 20px;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-delay: 0s;
    cursor: pointer;
    font-size: 15px;
}

#botao-inicio:hover {
    transform: translateY(-4px);
    background-color: var(--corbotaop);
}

#mauricio:hover{
    transform: scale(1.1);
}

#mauricio {
    border-radius: 50%;
    margin-left: 90px;
    width: 21%;
    animation-name: slideInLeft;
    animation-duration: 1.5s;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

/* ----------- Sobre Mim ----------------*/

.s-sobremim {
    background-color: var(--corfundo1);
}

.SobreMim {
    display: flex;
    padding: 150px 50px;
    justify-content: space-between;
    max-width: 1150px;
    margin: auto;
}

.SobreMim h1 {
    font-size: 40px;
}

.SobreMim button {
    background-color: var(--corfundo2);
    padding: 2%;
    border: 0px;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-delay: 0s;
    cursor: pointer;
    margin-bottom: 5px;
}

.material-icons {
    font-size: 15px;
}

.SobreMim button:hover{
    transform: translateY(-5px);
    background-color: var(--corbotaop);
}

#img-sobremim {
    height: 300px;
    border: 5px;
    border-radius: 30px;
    transition: 0.3s all ease-in-out;
    margin-top: 80px;
}

#img-sobremim:hover{
    transform: scale(1.1);
}

.info-sobremim {
    margin-left: 90px;
    text-align: justify;
}

.info-sobremim p {
    margin: 30px 0;
}

.info-sobremim h1 {
    margin-left: 15px;
}

.info-sobremim button {
    margin-left: 15px;
    border: 1px solid #fff;
    border-radius: 20px;
}

.info-sobremim .list-buttons{
    margin-left: 180px;
    margin-top: 50px;
}

/* ------   contatos   ------  */

.container-contatos{
    background-color: var(--corfundo2);
}

.contatos {
    text-align: center;
    padding: 50px;
}

.contatos h1 {
    font-size: 50px;
    font-weight: bold;
}

.contatos .info-contato {
    max-width: 1150px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.contatos .info-contato .info-txt {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contatos .info-contato .info-txt .div-icones {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 115px;
    width: 280px;
    display: flex;
    justify-content: space-around;
}

.contatos .info-contato .info-txt .icones {
    height: 40px;
    transition-duration: 0.3s;
    transition-delay: 0s;
    margin: 0px 0px;
}

.ctt {
    font-size: 10px;
}

.contatos .info-contato .info-txt .icones:hover {
    scale: 1.2;
}

.contatos .info-contato .computador {
    height: 300px;
    width: 150px;
    border-radius: 100px;
    margin: 50px;
    transition: 0.5s;
}

.contatos .info-contato .computador:hover {
    scale: 1.1;
}

/* ------ tecnologias -------- */
.container-icons{
    background-color: var(--corfundo1);
}
.div-icons{
    height: 350px;
}
.div-icons h2{
    font-size: 50px;
    font-weight: bold;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}
.icons{
    width: 100px;
    height: 100px;
    margin: 10px 10px;
    margin-left: 90px;
    margin-top: 0px;
    margin-bottom: 165px;
    transition: 0.3s all ease-in-out;
}

.icons:hover{
    transform: scale(1.3);
}
/* ------ rodapé -------- */
.rodape {
    background-color: var(--corfundo1);
    display: flex;
    justify-content: space-around;
    padding: 5px;
    font-size: 13px;
    height: 55px;
}

.rodape .direitos {
    text-align: center;
    display: flex;
    font-size: 15px;
    flex-direction: column;
    justify-content: center;
}